body {
    font-family: 'Garamond', serif; /* Cambia a una fuente más clásica y elegante */    
    margin: 0;
    padding: 0;
    background-color: #DEC59B;
    background-image: url('/assets/imagenfondo.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background: linear-gradient(to right, #2b5a4a, #ab8d59); /* Verde profundo al dorado claro */
    height: 140px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding-top: 20px;
    border: none;
}

.nav-link {
    color: white !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra con desplazamiento */
    /*font-weight: bold;*/
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 24px;
}

    .nav-link:hover {
        text-decoration: underline; /* Si quieres algún estilo hover */
        color: #ffcccc; /* Un color claro, pero podrías ajustarlo si prefieres algo más acorde */
    }

    

footer {
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
    text-align: center;
    background: #2b5a4a; /* Verde profundo */
    color: #c7b9b9; /* Gris claro */
    border-top: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}
