/*
main.pb-3 {    
    background-color: #3067ba;
}
*/

/*
.seccion {    
    background-color: red
    
}
*/


.seccion-titulo {
    /*font-size: 24px; */
}

#main-container {
    max-width: 1000px; 
}

.game {
    flex: 1 0 25%;
    margin:0; 
    text-align: center; /* Centrar el texto */    
    transition: transform 0.1s cubic-bezier(0.7, 0.71, 0.64, 1.35); /* Transici?n m?s r?pida para el contenedor */
    padding: 3%; /* A?adimos un padding para agrandar el contenedor */    
}

    /* Margen superior para las im?genes de la segunda fila */
    .game:nth-child(n+4) {
        margin-top: 30px; /* Margen superior de 10px */
    }

    /* Ajuste para hacer que las im?genes sean m?s grandes (70% a 84%) */
    .game img {
        width: 84%; /* Aumentamos el tama?o de la imagen al 84% */
        height: auto; /* Mantiene la proporci?n de la imagen */
        transition: transform 0.1s ease !important; /* Transici?n m?s lenta para la imagen */
        border-radius: 30px !important;
    }

    /* Hover en las im?genes */
    .game:hover img {
        transform: scale(1.06); /* Aumenta el tama?o de la imagen al 106% */
        border-radius: 0; /* Elimina el redondeado al hacer hover */
    }

    .game:hover {
        transform: scale(1.02); /* Aumenta el tama?o del contenedor al 102% */
    }

.game-title {
    color: gold;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
    transform: rotate(-10deg);
    margin-bottom: 20px;
    font-size: 1.5vw; /* Ajusta el tama?o de la fuente */
}


/* Estilos para mensajes de ?xito */
.alert {
    padding: 15px; /* Espaciado en el mensaje */
    margin-top: 20px; /* Espaciado superior */
}

.alert-success {
    background-color: #4CAF50; /* Color de fondo para el mensaje de ?xito */
    color: white; /* Color del texto */
}


/* Carrusel de im?genes */
.carousel {
    border-radius: 5px !important;
    width: 100%; /* El carousel ocupa el 100% del ancho del contenedor */
    max-width: 800px; /* Puedes ajustar esto seg�n el tama�o m�ximo deseado */
    
    position: relative; /* Para posicionar elementos dentro del carousel */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del carousel */
    margin: auto; /* Centra el carousel horizontalmente */
}

.slides {
    display: flex; /* Usamos flexbox para alinear las im�genes en fila */
    transition: transform 0.5s ease-in-out; /* Transici�n suave para desplazamiento */
    object-fit: cover;
}

    .slides img {
        width: 100%; /* Las im�genes ocupan el 100% del ancho del contenedor */
        height: 100%; /* Las im�genes ocupan el 100% de la altura del carousel */
        object-fit: cover; /* Ajusta la imagen sin deformarla, recortando si es necesario */
        flex-shrink: 1; /* Las im�genes no se encogen por debajo de su tama�o natural */
        object-fit:fill;
    }

.dots {
    text-align: center; /* Centra los puntos de navegaci�n */
    position: absolute; /* Posiciona los puntos sobre el carousel */
    bottom: 15px; /* Espaciado desde la parte inferior del carousel */
    width: 100%; /* El ancho completo para centrar los puntos */
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

    .dot.active {
        background-color: #717171; /* Estilo del punto activo */
    }
