#main-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game {
    flex: 1 0 25%;
    margin: 0;
    text-align: center;
    padding: 4%;
    transition: transform 0.3s ease;
}

    .game:nth-child(n+4) {
        margin-top: 30px;
    }

    .game img {
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
        height: auto;
        border-radius: 15px !important;
        width: 100%;
        transition: box-shadow 0.3s ease, width 0.3s ease;
    }

    .game:hover img {
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
        width: 99%;
        border-radius: 15px !important;
    }

.game-title {
    color: gold;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
    margin-top: 15px;
    transition: color 0.3s ease;
}

    .game-title:hover {
        color: #f1c40f;
    }

.game:hover {
    transform: translateY(-5px);
}

/* Agregar espacio entre los productos */
.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .product-card img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

        .product-card img:hover {
            transform: scale(1.05);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        }

    .product-card .price {
        color: #2b5a4a;
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
    }

    .product-card .button {
        background-color: #4CAF50; /* Cambiado a verde */
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 15px;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .product-card .button:hover {
            background-color: #45a049;
            transform: translateY(-2px);
        }

/* Responsividad */
@media (max-width: 1200px) {
    .game {
        flex: 1 0 30%;
    }
}

@media (max-width: 768px) {
    .game {
        flex: 1 0 45%;
    }
}

@media (max-width: 480px) {
    .game {
        flex: 1 0 100%;
    }

    #main-container {
        padding: 10px;
    }
}
