/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/* Estilo común para los botones */
.btn {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrado de texto */
    text-decoration: none; /* Quitar subrayado */
    display: inline-block; /* Para que se vea como un botón en línea */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Mostrar el cursor como mano al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

    /* Efecto hover para los botones */
    .btn:hover {
        background-color: #0056b3; /* Color de fondo cuando pasa el ratón */
    }

/* Estilo para los botones PDF */
.pdf-link {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .pdf-link:hover {
        background-color: #218838;
    }

/* Estilo para las opciones dentro del menú de administración */
.dropdown-menu .dropdown-item {
    font-size: 14px; /* Tamaño de la fuente */
    color: #212529; /* Color de las letras (más oscuro) */
}

    /* Estilo para las opciones cuando se pasa el ratón */
    .dropdown-menu .dropdown-item:hover {
        background-color: #007bff; /* Fondo azul al pasar el ratón */
        color: white; /* Color blanco para el texto cuando se pasa el ratón */
    }

    /* Estilo para la opción activa */
    .dropdown-menu .dropdown-item.active {
        background-color: #1b6ec2; /* Fondo azul más oscuro */
        color: white; /* Color blanco para el texto activo */
    }

/* Estilo para las letras de las opciones en la barra de navegación */
.navbar-nav .nav-link {
    color: #212529; /* Color oscuro para las letras de las opciones en la barra de navegación */
}

    /* Estilo cuando se pasa el ratón sobre los enlaces */
    .navbar-nav .nav-link:hover {
        color: #007bff; /* Color azul al pasar el ratón */
    }
