@{
    ViewData["Title"] = "Comunidad";
}
<link rel="stylesheet" href="~/css/comunidad.css" asp-append-version="true" />

<h1>Bienvenidos a la Comunidad</h1>

<p>
    En nuestra tienda, nos dedicamos a ofrecer los mejores productos para los amantes de los videojuegos.
    Nuestro objetivo es crear un espacio donde los jugadores puedan encontrar lo que necesitan y compartir su
    pasión por los videojuegos.
</p>


<div class="full-screen-background">
    <div class="image-container">
        <img src="/assets/rol.jpg" alt="Imagen centrada" class="large-image">
    </div>
    <div class="promo-text">
        <h2>¡Prepárate para los torneos más épicos en nuestro local!</h2>
        <p>Muy pronto, abrimos nuestras puertas para que vivas la experiencia única de los torneos de <strong>juegos de rol</strong> y <strong>Magic: The Gathering</strong>! Tanto si eres un veterano en estos mundos como si quieres descubrirlos por primera vez, ¡te esperamos! 🎉</p>
        <p><strong>Juego de Rol:</strong> Adéntrate en aventuras donde solo tu imaginación pone límites. Comparte historias y emociones con otros apasionados.</p>
        <p><strong>Magic: The Gathering:</strong> Estrategia, habilidad y, claro, ¡magia! Desafía a otros jugadores en este clásico que nunca deja de sorprender.</p>
        <p><strong>Y mucho más:</strong> ¡Estamos preparando sorpresas y más juegos para todos los gustos!</p>
        <p>Únete a la comunidad, conoce gente increíble, disfruta de un ambiente lleno de risas y, sobre todo, ¡diviértete! No importa tu nivel, lo importante es compartir esta pasión y crear recuerdos inolvidables juntos.</p>
        <p><strong>🗓️ Fecha y detalles por anunciarse, así que mantente al tanto!</strong></p>
    </div>
</div>

