@model TiendaSoftware1.Models.Usuario

@{
    ViewData["Title"] = "Create Usuario";
}

<h1>Create Usuario</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div id="main-container" class="container">
        <div class="form-wrapper">
            <form asp-action="CreateUsuario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="RolId">Rol</label>
                    <select asp-for="RolId" class="form-control">
                        <option value="1">Usuario</option>
                        <option value="2">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ReClave" class="control-label"></label>
                    <input asp-for="ReClave" class="form-control" type="password" />
                    <span asp-validation-for="ReClave" class="text-danger"></span>
                </div>

                <!-- Mensaje de notificación si hay algún problema -->
                <div class="form-group text-danger">
                    <label>@ViewBag.Notification</label>
                </div>

                <!-- Botones alineados a la derecha debajo del formulario -->
                <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 15px;">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}