@model IEnumerable<TiendaSoftware1.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>

<body>
    <h1>HOLA</h1>

    <div class="seccion">
        <h2 class="seccion-titulo">chau</h2>
        <div id="main-container" class="container">
            <div class="row">
                <div class="game">
                    <a asp-controller="Productos" asp-action="Nintendo">
                        <img src="/assets/logo_nintendo.png" alt="logo nintendo" />
                        <div class="game-title">Consolas Nintendo</div>
                    </a>
                </div>
                <div class="game">
                    <a asp-controller="Productos" asp-action="Playstation">
                        <img src="/assets/logo_playstation.png" alt="logo playstation" />
                        <div class="game-title">Consolas Playstation</div>
                    </a>
                </div>
                <div class="game">
                    <a asp-controller="Productos" asp-action="Xbox">
                        <img src="/assets/logo_xbox.png" alt="logo xbox" />
                        <div class="game-title">Consolas Xbox</div>
                    </a>
                </div>
                <div class="game">
                    <a asp-controller="Productos" asp-action="ConsolasUsadas">
                        <img src="/assets/logo_consolas_usadas.png" alt="Consolas Usadas" />
                        <div class="game-title">Consolas Usadas</div>
                    </a>
                </div>
                <div class="game">
                    <a asp-controller="Productos" asp-action="JuegosUsados">
                        <img src="/assets/logo_juegos_usados.png" alt="Juegos Usados" />
                        <div class="game-title">Juegos Usados</div>
                    </a>
                </div>
                <div class="game">
                    <a asp-controller="Productos" asp-action="Accesorios">
                        <img src="/assets/logo_accesorios.png" alt="logo accesorios" />
                        <div class="game-title">Accesorios</div>
                    </a>
                </div>
                <div class="game">
                    <a asp-controller="Productos" asp-action="Merchandising">
                        <img src="/assets/logo_merch.png" alt="Merchandising" />
                        <div class="game-title">Merchandising</div>
                    </a>
                </div>
                <div class="game">
                    <a asp-controller="Productos" asp-action="JuegosDeMesa">
                        <img src="/assets/logo_mesa.png" alt="Juegos de mesa" />
                        <div class="game-title">Juegos de mesa</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Mensaje de éxito -->
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="success-message" class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <script>
        setTimeout(function () {
            var successMessage = document.getElementById('success-message');
            if (successMessage) {
                successMessage.style.transition = "opacity 1s ease";
                successMessage.style.opacity = "0";

                // lo eliminamos del DOM
                setTimeout(function () {
                    successMessage.remove();
                }, 1000); // Espera el tiempo de la transición (1 segundo)
            }
        }, 5000); // 5000 milisegundos = 5 segundos
    </script>
</body>
