@model IEnumerable<TiendaSoftware1.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<head>
    <link rel="stylesheet" href="~/css/Index.css" />
</head>

<body>
    <h1>Productos</h1>

    <div class="seccion">
        <h2 class="seccion-titulo">Trending Gift Cards</h2>
        <div id="main-container" class="container">
            <div class="row">
                <div class="game">
                    <a asp-controller="Productos" asp-action="DetailsProductos" asp-route-id="1">
                        <img src="/assets/logonintendo.png" alt="logo nintendo" />
                        <div class="game-title">Nintendo</div>
                    </a>
                </div>
                <div class="game">
                    <a href="/DetailsProductos/2">
                        <img src="/assets/logoplaystation.png" alt="logo playstation" />
                        <div class="game-title">Playstation</div>
                    </a>
                </div>
                <div class="game">
                    <a href="/DetailsProductos/3">
                        <img src="/assets/logoxbox.png" alt="logo xbox" />
                        <div class="game-title">Xbox</div>
                    </a>
                </div>
                <div class="game">
                    <a href="/DetailsProductos/4">
                        <img src="/assets/logoaccesorios.png" alt="logo accesorios" />
                        <div class="game-title">Accesorios</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Mensaje de éxito -->
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="success-message" class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <script>
        setTimeout(function () {
            var successMessage = document.getElementById('success-message');
            if (successMessage) {
                successMessage.style.transition = "opacity 1s ease";
                successMessage.style.opacity = "0";

                // lo eliminamos del DOM
                setTimeout(function () {
                    successMessage.remove();
                }, 1000); // Espera el tiempo de la transición (1 segundo)
            }
        }, 5000); // 5000 milisegundos = 5 segundos
    </script>
</body>
