@{
    ViewData["Title"] = "Sobre Nosotros";
}
<h1>@ViewData["Title"]</h1>

<h2>¿Quiénes somos?</h2>
<p>
    Somos un grupo de entusiastas de los videojuegos con una misión: ofrecer un servicio excepcional y productos de alta calidad.
    Desde consolas hasta juegos y accesorios, tenemos todo lo que necesitas para disfrutar al máximo.
</p>

<h2>¿Qué ofrecemos?</h2>
<ul>
    <li>Consolas de última generación</li>
    <li>Una amplia variedad de juegos</li>
    <li>Accesorios para mejorar tu experiencia de juego</li>
    <li>Orgenizamos torneos de distintos juegos de rol y fantasia</li>
</ul>

<h2>Únete a nuestra comunidad</h2>
<p>
    Síguenos en nuestras redes sociales para estar al tanto de las últimas noticias, promociones y eventos.
    ¡Te esperamos!
</p>

<p>
    Te esperamos en Avellaneda 970, Castelar, Buenos Aires - Contacto: 11-6218-5547
</p>

<div class="image-container">
    <img src="/assets/foto_local1.png" alt="Imagen centrada" class="large-image">
</div>
